<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/static/admin/css/admin.css">
</head>
<body>
    <div class="wrapper">
        <nav class="nav-menu">
            <h1>Goffee</h1>
            <ul class="menu">
                <li class="menu__item"><a href="/">View site</a></li>
                <li class="menu__item">Database</li>
                <li class="menu__item">Routes</li>
                <li class="menu__item">Manage</li>
            </ul>

            <div class="uptime-block">
                <h3>UPTIME:</h3>
                <p>{{.Uptime}}</p>
            </div>
        </nav>

        <div class="content">

            <div class="content-section content__database">
                <h1 class="section__header">Database</h1>
                <div class="section__content-block">
                    <div class="table">
                        <h3>Sometable</h3>
                    </div>
                </div>
            </div>
    

        </div>

    </div>
</body>
</html>